doctype html
html(lang="en")
  head
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='front.js')
  body
    form#adduser(action='/adduser' method='post' name='adduser') 
      input.user(type='text' name='user')
      input.pass(type='text' name='pass')
      //input(type='submit', value='login')
      input#addUser(type='submit' value='add user')
      label remember me
        input.rememberMe(type='checkbox' name='remember' )
    form#login(action='/login' method='post' name='login')
      input.user(type='text' name='user')
      input.pass(type='text' name='pass')
      input.login(type='submit' value='login')
      label remember me
        input.rememberMe(type='checkbox' name='remember' )
    p= message