doctype html
html(lang="en")
  head
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='front.js')
  body
    p#welcome Welcome,
    p= user
    form#logout(action='/' method='post' name='logout')
      input(type='submit' value='log out')