doctype html
html(lang="en")
  head
    script(src='//code.jquery.com/jquery-latest.js')
    script(src='front.js')
  body
    p#welcome Welcome,
    p= user
    form#logout(action='/logout' method='post' name='logout')
      input(type='hidden' name='user' value= user)
      input(type='submit' value='log out')
    label add stuff here:
    form#add(action='/addstuff' method='post' name='addstuff')
      input(type='hidden' name='user' value= user)
      textarea#stuff(type='textarea' name='stuff')
      input(type='submit'  value='add')
    ul#stufflist
      each thing, i in stuff
        li= thing